<!DOCTYPE html>
<html>
<head xlmns:th="http://www.thymeleaf.org">
<script src="question.js"></script>
<meta charset="UTF-8">
<title>Random question</title>
</head>
<body>
	<h1>Question</h1>
	
	<div th:text="${question.question}"></div>
	<br/>
	<button onclick="toggleAnswer()">Show answer</button>
	<br/>
	<br/>
	<div id="answer" style="display: none;">
		<div th:text="${question.answer}"></div>
		<br/>
		<a th:href="@{${question.info}}" target="_blank">Learn more</a>
	</div>
	
	<br/>
	<form th:action="@{/searchByLabels}" method="get" th:object="${labels}">
		<input type="hidden" th:value="${labels}" name="labels" />
		<button type="submit">New question</button>
	</form>
	<br/>
	<a th:href="@{/}"><button>Back</button></a>
</body>
</html>